<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>工作台</title>

    <link href="/static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/uimaker/easyui.css">
    <link rel="stylesheet" href="/static/css/workbench.css">
</head>
<body>
<div class="container">
    <div id="hd">

    </div>

    <div id="bd">
        <div class="bd-content">

            <div class="center-part">

                <div class="center-items chart1">
                    <div class="chart1-inner">
                        <div class="item-hd">询价降本率</div>
                        <div class="chart1-chart" id="chart3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ft"></div>
</div>
<div class="todo-panel">
    <div class="todo-title">
        <i class="iconfont">&#xe61f;</i>
        <span class="num">14&nbsp;<span class="unit">个</span></span>
        <label>待办未处理</label>
    </div>
    <div class="todo-items">
        <ul>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>2条</span>供应商开发申请未处理<i></i></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>10条</span>供应商开发申请未处理<i></i></a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>0条</span>供应商开发申请未处理，请及时审批<i></i></a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>1条</span>供应商开发申请未处理，请及时审批</a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>4条</span>供应商开发申请未处理，请及时审批</a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>6条</span>供应商开发申请未处理，请及时审批，未处理会导致失效</a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>2条</span>供应商开发申请未处理，请及时审批，未处理会导致失效</a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>2条</span>供应商开发申请未处理，请及时审批，未处理会导致失效</a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>2条</span>供应商开发申请未处理，请及时审批，未处理</a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>2条</span>供应商开发申请未处理，请及时审批，未处理会导致失效</a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>2条</span>供应商开发申请未处理，未处理会导致失效</a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>2条</span>开发申请未处理，请及时审批，未处理会导致失效</a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>2条</span>供应商开发申请未处理，请及时审批，未处理会导致失效</a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>2条</span>供应商开发申请未处理，请及时审批，会导致失效</a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>2条</span>供应商开发申请未处理，请及时审批，未处理</a></a>
                <label>04-13</label>
            </li>
            <li>
                <span></span>
                <a href="javascript:;" class="ellipsis">您有<span>2条</span>供应商开发申请未处理，请及时审批</a></a>
                <label>04-13</label>
            </li>
        </ul>
    </div>

</div>
<script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/echarts-all.js"></script>




<script type="text/javascript">

    //公开附件tab事件处理
    $(".attached-tab").on("click","a",function(){
        $(this).closest(".attached-tab").find("a").removeClass("current");
        $(this).addClass("current");
        $(this).closest(".attached").find("ul").addClass("hide");
        $(this).closest(".attached").find("ul." + $(this).attr("attached")).removeClass("hide");
    })

</script>
</body>
</html>
