<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhishun.zaotoutiao.dal.mapper.InfosMapper">
  <resultMap id="BaseResultMap" type="com.zhishun.zaotoutiao.core.model.vo.InfosVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="info_id" jdbcType="VARCHAR" property="infoId" />
    <result column="info_type" jdbcType="VARCHAR" property="infoType" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="catInfo_name" jdbcType="VARCHAR" property="catInfoName" />
    <result column="img_type" jdbcType="INTEGER" property="imgType" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="thumbnails" jdbcType="VARCHAR" property="thumbnails" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="videos" jdbcType="VARCHAR" property="videos" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="isHot" jdbcType="TINYINT" property="isHot" />
    <result column="push_date" jdbcType="TIMESTAMP" property="pushDate" />
    <result column="first_level" jdbcType="VARCHAR" property="firstLevel" />
    <result column="two_level" jdbcType="VARCHAR" property="twoLevel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, info_id, info_type, channel_id, catInfo_name, img_type, date_format(publish_time, '%Y-%m-%d %H:%i:%s') as publishTime, source,
    thumbnails, title, date_format(update_time, '%Y-%m-%d %H:%i:%s') as updateTime, videos, summary, content, date_format(create_date, '%Y-%m-%d %H:%i:%s') as createDate, isHot, push_date,
    first_level, two_level
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from infos
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from infos
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhishun.zaotoutiao.core.model.entity.Infos">
    insert into infos (id, info_id, info_type,
    channel_id, catInfo_name, img_type,
    publish_time, source, thumbnails,
    title, update_time, videos,
    summary, content, create_date,
    isHot, push_date, first_level,
    two_level)
    values (#{id,jdbcType=BIGINT}, #{infoId,jdbcType=VARCHAR}, #{infoType,jdbcType=VARCHAR},
    #{channelId,jdbcType=VARCHAR}, #{catInfoName,jdbcType=VARCHAR}, #{imgType,jdbcType=INTEGER},
    #{publishTime,jdbcType=TIMESTAMP}, #{source,jdbcType=VARCHAR}, #{thumbnails,jdbcType=VARCHAR},
    #{title,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{videos,jdbcType=VARCHAR},
    #{summary,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
    #{isHot,jdbcType=TINYINT}, #{pushDate,jdbcType=TIMESTAMP}, #{firstLevel,jdbcType=VARCHAR},
    #{twoLevel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhishun.zaotoutiao.core.model.entity.Infos">
    insert into infos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="infoId != null">
        info_id,
      </if>
      <if test="infoType != null">
        info_type,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="catInfoName != null">
        catInfo_name,
      </if>
      <if test="imgType != null">
        img_type,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="thumbnails != null">
        thumbnails,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="videos != null">
        videos,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="isHot != null">
        isHot,
      </if>
      <if test="pushDate != null">
        push_date,
      </if>
      <if test="firstLevel != null">
        first_level,
      </if>
      <if test="twoLevel != null">
        two_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="infoId != null">
        #{infoId,jdbcType=VARCHAR},
      </if>
      <if test="infoType != null">
        #{infoType,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="catInfoName != null">
        #{catInfoName,jdbcType=VARCHAR},
      </if>
      <if test="imgType != null">
        #{imgType,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="thumbnails != null">
        #{thumbnails,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="videos != null">
        #{videos,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isHot != null">
        #{isHot,jdbcType=TINYINT},
      </if>
      <if test="pushDate != null">
        #{pushDate,jdbcType=TIMESTAMP},
      </if>
      <if test="firstLevel != null">
        #{firstLevel,jdbcType=VARCHAR},
      </if>
      <if test="twoLevel != null">
        #{twoLevel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhishun.zaotoutiao.core.model.entity.Infos">
    update infos
    <set>
      <if test="infoId != null">
        info_id = #{infoId,jdbcType=VARCHAR},
      </if>
      <if test="infoType != null">
        info_type = #{infoType,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="catInfoName != null">
        catInfo_name = #{catInfoName,jdbcType=VARCHAR},
      </if>
      <if test="imgType != null">
        img_type = #{imgType,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="thumbnails != null">
        thumbnails = #{thumbnails,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="videos != null">
        videos = #{videos,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isHot != null">
        isHot = #{isHot,jdbcType=TINYINT},
      </if>
      <if test="pushDate != null">
        push_date = #{pushDate,jdbcType=TIMESTAMP},
      </if>
      <if test="firstLevel != null">
        first_level = #{firstLevel,jdbcType=VARCHAR},
      </if>
      <if test="twoLevel != null">
        two_level = #{twoLevel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhishun.zaotoutiao.core.model.entity.Infos">
    update infos
    set info_id = #{infoId,jdbcType=VARCHAR},
      info_type = #{infoType,jdbcType=VARCHAR},
      channel_id = #{channelId,jdbcType=VARCHAR},
      catInfo_name = #{catInfoName,jdbcType=VARCHAR},
      img_type = #{imgType,jdbcType=INTEGER},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      source = #{source,jdbcType=VARCHAR},
      thumbnails = #{thumbnails,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      videos = #{videos,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      isHot = #{isHot,jdbcType=TINYINT},
      push_date = #{pushDate,jdbcType=TIMESTAMP},
      first_level = #{firstLevel,jdbcType=VARCHAR},
      two_level = #{twoLevel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectInfosByType" parameterType="map" resultMap="BaseResultMap">
    SELECT
    round(infos.publishTime/10000) as orderTime,
    <include refid="Base_Column_List"/>
    FROM infos
    WHERE info_type = #{type} and channel_id = #{channelId}
    order by publish_time desc,rand()
    <if test="startNo != null and endNo != null">
    limit #{startNo} , #{endNo}
    </if>
  </select>

  <select id="selectCountByType" parameterType="map" resultType="int">
    SELECT
    count(1)
    FROM infos
    where info_type = #{type}
  </select>

  <select id="getInfosByMap" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from infos
    <where>
      <if test="infoId != null">
        info_id = #{infoId}
      </if>
    </where>
  </select>

  <select id="getRandVideoList" parameterType="int" resultMap="BaseResultMap">
    SELECT * FROM infos WHERE info_type='video' AND channel_id = #{channelId} ORDER BY rand() limit 0,6
  </select>

  <select id="searchNewsByKeyword" parameterType="map" resultMap="BaseResultMap">
    select * from infos
    WHERE title like #{keyword}
    ORDER BY updateTime
    DESC LIMIT #{startNo},#{endNo}
  </select>

  <select id="List24HoursInfos" resultMap="BaseResultMap">
    SELECT * FROM infos WHERE isHot = 1 AND push_date > DATE_SUB(NOW(),INTERVAL 24 HOUR) ORDER BY push_date DESC
  </select>

  <select id="getInfoTitle" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT title
    FROM infos
    WHERE info_id = #{infoId}
  </select>

  <select id="getInfosPageByMap" parameterType="com.zhishun.zaotoutiao.core.model.vo.ContentQueryVO" resultMap="BaseResultMap">
    SELECT  a.*,b.count as browsingVolume,c.count as forwardingAmount,d.count as collentAmount, e.count as commentsNumber,
    f.name as channelName, g.name as firstLevelName, i.name as twoLevelName
    from infos as a
    LEFT JOIN (select count(id) as count,infoId from user_read_record GROUP BY infoId) as b ON a.info_id = b.infoId
    LEFT JOIN (select count(id) as count,infoId from user_share GROUP BY infoId) as c ON a.info_id = c.infoId
    LEFT JOIN (SELECT count(id) as count,info_id from user_collect GROUP BY info_id) as d ON a.info_id = d.info_id
    LEFT JOIN (SELECT count(id) as count,info_id from user_comments GROUP  BY info_id) as e ON a.info_id = e.info_id
    LEFT JOIN channels as f ON a.channel_id = f.channelId
    LEFT JOIN channels as g ON a.first_level = g.channelId
    LEFT JOIN channels as i ON a.two_level = i.channelId
    <where>
      <if test="keyWord != null">
          a.catInfo_name LIKE CONCAT('%', #{keyWord}, '%')
      </if>
      <if test="infoType != null">
        and a.info_type = #{infoType}
      </if>
      <if test="channelId != null">
        and a.channel_id = #{channelId}
      </if>
      <if test="firstLevel != null">
        and a.first_level = #{firstLevel}
      </if>
      <if test="twoLevel != null">
        and a.two_level = #{twoLevel}
      </if>
      <if test="source != null">
        and a.source = #{source}
      </if>
      <if test="browsingVolumeMin != null">
        and b.count &gt;= #{browsingVolumeMin}
      </if>
      <if test="browsingVolumeMax != null">
        and b.count &lt;= #{browsingVolumeMax}
      </if>
      <if test="forwardingAmountMin != null">
        and c.count &gt;= #{forwardingAmountMin}
      </if>
      <if test="forwardingAmountMax != null">
        and c.count &lt;= #{forwardingAmountMax}
      </if>
      <if test="collentAmountMin != null">
        and d.count &gt;= #{collentAmountMin}
      </if>
      <if test="collentAmountMax != null">
        and d.count &lt;= #{collentAmountMax}
      </if>
      <if test="commentsNumberMin != null">
        and e.count &gt;= #{commentsNumberMin}
      </if>
      <if test="commentsNumberMax != null">
        and e.count &lt;= #{commentsNumberMax}
      </if>
    </where>
  </select>

  <delete id="delInfos" parameterType="string">
    delete from infos_image
    where info_id = #{infoId,jdbcType=TINYINT}
  </delete>
</mapper>