<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhishun.zaotoutiao.dal.mapper.StaticTaskListMapper">
  <resultMap id="BaseResultMap" type="com.zhishun.zaotoutiao.core.model.entity.StaticTaskList">
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="question" property="question" jdbcType="VARCHAR" />
      <result column="answer" property="answer" jdbcType="VARCHAR" />
      <result column="type" property="type" jdbcType="VARCHAR" />
      <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
      <result column="button" property="button" jdbcType="VARCHAR" />
      <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id, question, answer, type, create_date, button, url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from static_task_list
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from static_task_list
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhishun.zaotoutiao.core.model.entity.StaticTaskList">
    insert into static_task_list (id, question, answer, 
      type, create_date, button, 
      url)
    values (#{id,jdbcType=BIGINT}, #{question,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{button,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhishun.zaotoutiao.core.model.entity.StaticTaskList">
    insert into static_task_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="question != null">
        question,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="button != null">
        button,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="question != null">
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="button != null">
        #{button,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhishun.zaotoutiao.core.model.entity.StaticTaskList">
    update static_task_list
    <set>
      <if test="question != null">
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="button != null">
        button = #{button,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhishun.zaotoutiao.core.model.entity.StaticTaskList">
    update static_task_list
    set question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      button = #{button,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getTaskListOrderByType" resultMap="BaseResultMap">
    SELECT * from static_task_list
    order by `type` ASC
  </select>
</mapper>