<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhishun.zaotoutiao.dal.mapper.UserBehaviorMapper">
  <resultMap id="BaseResultMap" type="com.zhishun.zaotoutiao.core.model.vo.UserBehaviorVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="download_num" jdbcType="INTEGER" property="downloadNum" />
    <result column="activation_num" jdbcType="INTEGER" property="activationNum" />
    <result column="register_num" jdbcType="INTEGER" property="registerNum" />
    <result column="operation_num" jdbcType="INTEGER" property="operationNum" />
    <result column="platform_id" jdbcType="TINYINT" property="platformId" />
    <result column="channel_id" jdbcType="TINYINT" property="channelId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="is_first_activation" jdbcType="TINYINT" property="isFirstActivation"/>
    <result column="is_open_app" property="isOpenApp" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, download_num, activation_num, register_num, operation_num, platform_id, 
    channel_id, create_date, is_first_activation, is_open_app
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_behavior
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_behavior
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhishun.zaotoutiao.core.model.entity.UserBehavior">
    insert into user_behavior (id, user_id, download_num, 
      activation_num, register_num, operation_num, 
      platform_id, channel_id, create_date, is_first_activation, is_open_app
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{downloadNum,jdbcType=INTEGER}, 
      #{activationNum,jdbcType=INTEGER}, #{registerNum,jdbcType=INTEGER}, #{operationNum,jdbcType=INTEGER}, 
      #{platformId,jdbcType=TINYINT}, #{channelId,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP},
      #{isFirstActivation, jdbcType=TINYINT}, #{isOpenApp, jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhishun.zaotoutiao.core.model.entity.UserBehavior">
    insert into user_behavior
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="downloadNum != null">
        download_num,
      </if>
      <if test="activationNum != null">
        activation_num,
      </if>
      <if test="registerNum != null">
        register_num,
      </if>
      <if test="operationNum != null">
        operation_num,
      </if>
      <if test="platformId != null">
        platform_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="isFirstActivation != null">
        is_first_activation,
      </if>
      <if test="isOpenApp != nul">
        is_open_app
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="downloadNum != null">
        #{downloadNum,jdbcType=INTEGER},
      </if>
      <if test="activationNum != null">
        #{activationNum,jdbcType=INTEGER},
      </if>
      <if test="registerNum != null">
        #{registerNum,jdbcType=INTEGER},
      </if>
      <if test="operationNum != null">
        #{operationNum,jdbcType=INTEGER},
      </if>
      <if test="platformId != null">
        #{platformId,jdbcType=TINYINT},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isFirstActivation != null">
        #{isFirstActivation, jdbcType=TINYINT},
      </if>
      <if test="isOpenApp != null">
        #{isOpenApp, jdbcType=TINYINT}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhishun.zaotoutiao.core.model.entity.UserBehavior">
    update user_behavior
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="downloadNum != null">
        download_num = #{downloadNum,jdbcType=INTEGER},
      </if>
      <if test="activationNum != null">
        activation_num = #{activationNum,jdbcType=INTEGER},
      </if>
      <if test="registerNum != null">
        register_num = #{registerNum,jdbcType=INTEGER},
      </if>
      <if test="operationNum != null">
        operation_num = #{operationNum,jdbcType=INTEGER},
      </if>
      <if test="platformId != null">
        platform_id = #{platformId,jdbcType=TINYINT},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isFirstActivation != null">
        is_first_activation = #{isFirstActivation},
      </if>
      <if test="isOpenApp != null">
        is_open_app = #{isOpenApp}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhishun.zaotoutiao.core.model.entity.UserBehavior">
    update user_behavior
    set user_id = #{userId,jdbcType=BIGINT},
      download_num = #{downloadNum,jdbcType=INTEGER},
      activation_num = #{activationNum,jdbcType=INTEGER},
      register_num = #{registerNum,jdbcType=INTEGER},
      operation_num = #{operationNum,jdbcType=INTEGER},
      platform_id = #{platformId,jdbcType=TINYINT},
      channel_id = #{channelId,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      is_first_activation = #{isFirstActivation},
      is_open_app = #{isOpenApp}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="listBehaviorByType" parameterType="map" resultMap="BaseResultMap">
      <if test='type == "today"'>
        select DATE_FORMAT(a.create_date,'%Y-%m-%d:%H') times,SUM(a.downloadNum) as downloadNum,
        SUM(a.activationNum) as activationNum, SUM(a.registerNum) as registerNum,
        SUM(a.operationNum) as operationNum, TRUNCATE(SUM(a.activationNum)/SUM(a.downloadNum), 2) as activationRate,
        TRUNCATE(SUM(a.registerNum)/SUM(a.activationNum), 2) as registerRate,
        a.platform_id as platformId, a.channel_id as channelId
        from (select min(is_first_activation), SUM(download_num) as downloadNum,create_date,
        activation_num as activationNum, SUM(register_num) as registerNum,
        SUM(operation_num) as operationNum,platform_id, channel_id from user_behavior
        <where>
          <if test="platformId != null">
            platform_id = #{platformId}
          </if>
          <if test="channelId != null">
            and channel_id = #{channelId}
          </if>
        </where>
        GROUP BY user_id) as a WHERE DateDiff(now(),a.create_date)=0
        group by times
      </if>
      <if test='type == "yesterday"'>
        select DATE_FORMAT(a.create_date,'%Y-%m-%d:%H') times,SUM(a.downloadNum) as downloadNum,
        SUM(a.activationNum) as activationNum, SUM(a.registerNum) as registerNum,
        SUM(a.operationNum) as operationNum, TRUNCATE(SUM(a.activationNum)/SUM(a.downloadNum), 2) as activationRate,
        TRUNCATE(SUM(a.registerNum)/SUM(a.activationNum), 2) as registerRate,
        a.platform_id as platformId, a.channel_id as channelId
        from (select min(is_first_activation), SUM(download_num) as downloadNum,create_date,
        activation_num as activationNum, SUM(register_num) as registerNum,
        SUM(operation_num) as operationNum,platform_id, channel_id from user_behavior
        <where>
          <if test="platformId != null">
            platform_id = #{platformId}
          </if>
          <if test="channelId != null">
            and channel_id = #{channelId}
          </if>
        </where>
        GROUP BY user_id) as a WHERE DateDiff(now(),create_date) = 1
        group by times
      </if>
      <if test='type == "sevenDays"'>
        select DATE_FORMAT(create_date,'%Y-%m-%d') times,SUM(a.downloadNum) as downloadNum,
        SUM(a.activationNum) as activationNum, SUM(a.registerNum) as registerNum,
        SUM(a.operationNum) as operationNum, TRUNCATE(SUM(a.activationNum)/SUM(a.downloadNum), 2) as activationRate,
        TRUNCATE(SUM(a.registerNum)/SUM(a.activationNum), 2) as registerRate,
        a.platform_id as platformId, a.channel_id as channelId
        from (select min(is_first_activation), SUM(download_num) as downloadNum,create_date,
        activation_num as activationNum, SUM(register_num) as registerNum,
        SUM(operation_num) as operationNum,platform_id, channel_id from user_behavior
        <where>
          <if test="platformId != null">
            platform_id = #{platformId}
          </if>
          <if test="channelId != null">
            and channel_id = #{channelId}
          </if>
        </where>
        GROUP BY user_id) as a WHERE DateDiff(now(),create_date) &lt;=7
        group by times
      </if>
      <if test='type == "thirtyDays"'>
        select DATE_FORMAT(create_date,'%Y-%m-%d') times,SUM(a.downloadNum) as downloadNum,
        SUM(a.activationNum) as activationNum, SUM(a.registerNum) as registerNum,
        SUM(a.operationNum) as operationNum, TRUNCATE(SUM(a.activationNum)/SUM(a.downloadNum), 2) as activationRate,
        TRUNCATE(SUM(a.registerNum)/SUM(a.activationNum), 2) as registerRate,
        a.platform_id as platformId, a.channel_id as channelId
        from (select min(is_first_activation), SUM(download_num) as downloadNum,create_date,
        activation_num as activationNum, SUM(register_num) as registerNum,
        SUM(operation_num) as operationNum,platform_id, channel_id from user_behavior
        <where>
          <if test="platformId != null">
            platform_id = #{platformId}
          </if>
          <if test="channelId != null">
            and channel_id = #{channelId}
          </if>
        </where>
        GROUP BY user_id) as a WHERE DateDiff(now(),create_date) &lt;=30
        group by times
      </if>
      <if test='type == "weeks"'>
        select DATE_FORMAT(create_date,'%Y-%u') times,SUM(a.downloadNum) as downloadNum,
        SUM(a.activationNum) as activationNum, SUM(a.registerNum) as registerNum,
        SUM(a.operationNum) as operationNum, TRUNCATE(SUM(a.activationNum)/SUM(a.downloadNum), 2) as activationRate,
        TRUNCATE(SUM(a.registerNum)/SUM(a.activationNum), 2) as registerRate,
        a.platform_id as platformId, a.channel_id as channelId
        from (select min(is_first_activation), SUM(download_num) as downloadNum,create_date,
        activation_num as activationNum, SUM(register_num) as registerNum,
        SUM(operation_num) as operationNum,platform_id, channel_id from user_behavior
        <where>
          <if test="platformId != null">
            platform_id = #{platformId}
          </if>
          <if test="channelId != null">
            and channel_id = #{channelId}
          </if>
          <if test="startDate != null">
            and create_date &gt;= #{startDate}
          </if>
          <if test="endDate != null">
            and create_date &lt;= #{endDate}
          </if>
        </where>
        GROUP BY user_id) as a
        group by times;
      </if>
      <if test='type == "months"'>
        select DATE_FORMAT(create_date,'%Y-%m') times,SUM(a.downloadNum) as downloadNum,
        SUM(a.activationNum) as activationNum, SUM(a.registerNum) as registerNum,
        SUM(a.operationNum) as operationNum, TRUNCATE(SUM(a.activationNum)/SUM(a.downloadNum), 2) as activationRate,
        TRUNCATE(SUM(a.registerNum)/SUM(a.activationNum), 2) as registerRate,
        a.platform_id as platformId, a.channel_id as channelId
        from (select min(is_first_activation), SUM(download_num) as downloadNum,create_date,
        activation_num as activationNum, SUM(register_num) as registerNum,
        SUM(operation_num) as operationNum,platform_id, channel_id from user_behavior
        <where>
          <if test="platformId != null">
            platform_id = #{platformId}
          </if>
          <if test="channelId != null">
            and channel_id = #{channelId}
          </if>
          <if test="startDate != null">
            and create_date &gt;= #{startDate}
          </if>
          <if test="endDate != null">
            and create_date &lt;= #{endDate}
          </if>
        </where>
        GROUP BY user_id) as a
        group by times;
      </if>
      <if test='type == "days"'>
        select DATE_FORMAT(create_date,'%Y-%m-%d') times,SUM(a.downloadNum) as downloadNum,
        SUM(a.activationNum) as activationNum, SUM(a.registerNum) as registerNum,
        SUM(a.operationNum) as operationNum, TRUNCATE(SUM(a.activationNum)/SUM(a.downloadNum), 2) as activationRate,
        TRUNCATE(SUM(a.registerNum)/SUM(a.activationNum), 2) as registerRate,
        a.platform_id as platformId, a.channel_id as channelId
        from (select min(is_first_activation), SUM(download_num) as downloadNum,create_date,
        activation_num as activationNum, SUM(register_num) as registerNum,
        SUM(operation_num) as operationNum,platform_id, channel_id from user_behavior
        <where>
          <if test="platformId != null">
            platform_id = #{platformId}
          </if>
          <if test="channelId != null">
            and channel_id = #{channelId}
          </if>
          <if test="startDate != null">
            and create_date &gt;= #{startDate}
          </if>
          <if test="endDate != null">
            and create_date &lt;= #{endDate}
          </if>
        </where>
        GROUP BY user_id) as a
        group by times;
      </if>
      <if test='type == "hours"'>
        select DATE_FORMAT(create_date,'%Y-%m-%d-%H') times,SUM(a.downloadNum) as downloadNum,
        SUM(a.activationNum) as activationNum, SUM(a.registerNum) as registerNum,
        SUM(a.operationNum) as operationNum, TRUNCATE(SUM(a.activationNum)/SUM(a.downloadNum), 2) as activationRate,
        TRUNCATE(SUM(a.registerNum)/SUM(a.activationNum), 2) as registerRate,
        a.platform_id as platformId, a.channel_id as channelId
        from (select min(is_first_activation), SUM(download_num) as downloadNum,create_date,
        activation_num as activationNum, SUM(register_num) as registerNum,
        SUM(operation_num) as operationNum,platform_id, channel_id from user_behavior
        <where>
          <if test="platformId != null">
            platform_id = #{platformId}
          </if>
          <if test="channelId != null">
            and channel_id = #{channelId}
          </if>
          <if test="startDate != null">
            and create_date &gt;= #{startDate}
          </if>
          <if test="endDate != null">
            and create_date &lt;= #{endDate}
          </if>
        </where>
        GROUP BY user_id) as a
        group by times;
      </if>

  </select>

  <select id="listOpenAppCount" parameterType="map" resultMap="BaseResultMap">
    <if test='type == "today"'>
      select DATE_FORMAT(a.create_date,'%Y-%m-%d:%H') times,count(a.is_open_app) as isOpenApp
      from (select create_date,is_open_app,platform_id, channel_id  from user_behavior
      <where>
        <if test="platformId != null">
          platform_id = #{platformId}
        </if>
        <if test="channelId != null">
          and channel_id = #{channelId}
        </if>
      </where>
      GROUP BY DATE_FORMAT(create_date,'%Y-%m-%d:%H'),user_id) as a WHERE DateDiff(now(),a.create_date)=0
      group by times
    </if>
    <if test='type == "yesterday"'>
      select DATE_FORMAT(a.create_date,'%Y-%m-%d:%H') times,count(a.is_open_app) as isOpenApp
      from (select create_date,is_open_app,platform_id, channel_id  from user_behavior
      <where>
        <if test="platformId != null">
          platform_id = #{platformId}
        </if>
        <if test="channelId != null">
          and channel_id = #{channelId}
        </if>
      </where>
      GROUP BY DATE_FORMAT(create_date,'%Y-%m-%d:%H'),user_id) as a WHERE DateDiff(now(),create_date) = 1
      group by times
    </if>
    <if test='type == "sevenDays"'>
      select DATE_FORMAT(create_date,'%Y-%m-%d') times,count(a.is_open_app) as isOpenApp
      from (select create_date,is_open_app,platform_id, channel_id  from user_behavior
      <where>
        <if test="platformId != null">
          platform_id = #{platformId}
        </if>
        <if test="channelId != null">
          and channel_id = #{channelId}
        </if>
      </where>
      GROUP BY DATE_FORMAT(create_date,'%Y-%m-%d'),user_id) as a WHERE DateDiff(now(),create_date) &lt;=7
      group by times
    </if>
    <if test='type == "thirtyDays"'>
      select DATE_FORMAT(create_date,'%Y-%m-%d') times,count(a.is_open_app) as isOpenApp
      from (select create_date,is_open_app,platform_id, channel_id  from user_behavior
      <where>
        <if test="platformId != null">
          platform_id = #{platformId}
        </if>
        <if test="channelId != null">
          and channel_id = #{channelId}
        </if>
      </where>
      GROUP BY DATE_FORMAT(create_date,'%Y-%m-%d'),user_id) as a WHERE DateDiff(now(),create_date) &lt;=30
      group by times
    </if>
    <if test='type == "weeks"'>
      select DATE_FORMAT(create_date,'%Y-%u') times,count(a.is_open_app) as isOpenApp
      from (select create_date,is_open_app,platform_id, channel_id  from user_behavior
      <where>
        <if test="platformId != null">
          platform_id = #{platformId}
        </if>
        <if test="channelId != null">
          and channel_id = #{channelId}
        </if>
        <if test="startDate != null">
          and create_date &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and create_date &lt;= #{endDate}
        </if>
      </where>
      GROUP BY DATE_FORMAT(create_date,'%Y-%m-%d'),user_id) as a
      group by times;
    </if>
    <if test='type == "months"'>
      select DATE_FORMAT(create_date,'%Y-%m') times,count(a.is_open_app) as isOpenApp
      from (select create_date,is_open_app,platform_id, channel_id  from user_behavior
      <where>
        <if test="platformId != null">
          platform_id = #{platformId}
        </if>
        <if test="channelId != null">
          and channel_id = #{channelId}
        </if>
        <if test="startDate != null">
          and create_date &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and create_date &lt;= #{endDate}
        </if>
      </where>
      GROUP BY DATE_FORMAT(create_date,'%Y-%m-%d'),user_id) as a
      group by times;
    </if>
    <if test='type == "days"'>
      select DATE_FORMAT(create_date,'%Y-%m-%d') times,count(a.is_open_app) as isOpenApp
      from (select create_date,is_open_app,platform_id, channel_id  from user_behavior
      <where>
        <if test="platformId != null">
          platform_id = #{platformId}
        </if>
        <if test="channelId != null">
          and channel_id = #{channelId}
        </if>
        <if test="startDate != null">
          and create_date &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and create_date &lt;= #{endDate}
        </if>
      </where>
      GROUP BY DATE_FORMAT(create_date,'%Y-%m-%d'),user_id) as a
      group by times;
    </if>
    <if test='type == "hours"'>
      select DATE_FORMAT(create_date,'%Y-%m-%d:%H') times,count(a.is_open_app) as isOpenApp
      from (select create_date,is_open_app,platform_id, channel_id  from user_behavior
      <where>
        <if test="platformId != null">
          platform_id = #{platformId}
        </if>
        <if test="channelId != null">
          and channel_id = #{channelId}
        </if>
        <if test="startDate != null">
          and create_date &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and create_date &lt;= #{endDate}
        </if>
      </where>
      GROUP BY DATE_FORMAT(create_date,'%Y-%m-%d:%H'),user_id) as a
      group by times;
    </if>
  </select>

</mapper>