@CHARSET "UTF-8";

.selfSearch {
    margin-bottom: 15px;
}

.form-horizontal .control-label-time {
    float: left;
    text-align: right;
    line-height: 40px;
    display: inline-block;
    width: 60px;
}

.form-horizontal .controls .bui-select .bui-select-input{
    height: 25px;
    width: 330px;
    line-height: 360px;
}

.banner-div{
    margin: 0 auto;
    width: 1280px;
    height: 40px;
    margin-top: 40px;
}

.controls1 {
    height: auto;
    overflow: hidden;
    min-height: 53px;
    margin-left: 10px;
    padding: 3px;
    line-height: normal;
}
.controls1 .control-label-time{
    float: left;
    text-align: left;
    line-height: 40px;
    display: inline-block;
    width: 60px;
}

.controls1 .control-label1{
    float: left;
    text-align: left;
    line-height: 40px;
    display: inline-block;
    width: 150px;
}

.controls1 .control-label2{
    float: left;
    text-align: left;
    line-height: 40px;
    display: inline-block;
    width: 80px;
}
