@CHARSET "UTF-8";

.icon-add {
	width: 16px;
    height: 16px;
    margin-right: 3px;
	background: url("../images/icon/icon-add.png") no-repeat 0px 0px;
}

.icon-editor {
	width: 16px;
    height: 16px;
    margin-right: 3px;
	background: url("../images/icon/icon-editor.png") no-repeat 0px 0px;
}

.icon-more-list {
	width: 16px;
    height: 16px;
    margin-right: 3px;
	background: url("../images/icon/icon-more-list.png") no-repeat 0px 0px;
}