@CHARSET "UTF-8";

.main .row .span7 {
	margin-left: 0px;
}

.bui-grid-body {
	border: none !important;
}

.bui-grid-header {
	border-left: none !important;
	border-right: none !important;
}

.tree-mode {
	float: left;
}

.bui-tree-list {
	border: none !important;
}

.bui-menu-item-link {
	line-height: 24px;
}

.panel-header {
	font-size: 14px;
}

.tree-panel {
	height: auto;
	min-height: 509px;
	max-height: 534px;
	overflow-y: hidden;
}

div.treeMsgList {
	height: 472px;
	overflow-y: auto;
	padding-bottom: 5px;
}

div#treeMsgListEmpty {
	float: left;
	width: 100%;
	height: 200px;
	color: #a9b7b7;
	line-height: 325px;
	margin-top: 70px;
	text-align: center;
	font-size: 19px;
	background: url(../images/empty.png) no-repeat center;
}

div.tree-list-panel {
	float: left;
	margin-left: 10px;
	width: 1000px;
}