<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>推送列表</title>

    <link href="/static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/uimaker/easyui.css">
    <link rel="stylesheet" href="/static/uimaker/icon.css">

</head>
<body>
<div class="container">
    <div id="tb" style="padding:0 30px;">
        <form id="presented_form">
            关键词：<input class="easyui-textbox" type="text" name="keyWord" style="width:166px;height:35px;line-height:35px;"/>
            类型：<input class="easyui-combobox" name="channelId" id="channelId_pres" style="height:35px;" data-options="url:'/listPlatformChannel?platformId=0',
                    textField:'channelName',valueField:'id',
                    onLoadSuccess:function(data){
                        if(data != null && data.length > 0){
                           $('#channelId_ug').combobox('select',data[0].id);
                        }
                    },required:true,editable:false"/>
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" data-options="selected:true" id="presented_search_btn">查询</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="clearForm()">重置</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="parent.Open('新增新闻', '/push/addNews')">新增新闻</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="">新增视频</a>
        </form>
    </div>
    <table id="dg_present" style="width:100%;height:auto" title="推送列表" data-options="
                rownumbers:true,
                singleSelect:false,
                autoRowHeight:false,
                pagination:true,
                fitColumns:true,
                striped:true,
                checkOnSelect:false,
                selectOnCheck:false,
                collapsible:true,
                toolbar:'#tb',
                pageSize:10">
        <thead>
            <tr>
                <th field="nickName" width="110">标题</th>
                <th field="telephone" width="226">类型</th>
                <th field="channelName" width="112">状态</th>
                <th field="createDate" width="170">推送时间</th>
                <th field="lastVisitDate" width="130">接收用户数</th>
                <th field="readNumber" width="136">浏览量</th>
                <th field="address" width="120">点击率</th>
                <th field="birthday" width="105">评论数</th>
                <th field="sex", width="50" >转发量</th>
                <th field="job" width="100">收藏数</th>
                <th field="educational" width="100">创建时间</th>
                <th field="gold" width="105">最后更新时间</th>
                <th field="userId" width="200" data-options="formatter:optFormatter">操作</th>
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>

<script type="text/javascript">

    (function($){
        function pagerFilter(data){
            if ($.isArray(data)){   // is array
                data = {
                    total: data.length,
                    rows: data
                }
            }
            var target = this;
            var dg = $(target);
            var state = dg.data('datagrid');
            var opts = dg.datagrid('options');
            if (!state.allRows){
                state.allRows = (data.rows);
            }
            if (!opts.remoteSort && opts.sortName){
                var names = opts.sortName.split(',');
                var orders = opts.sortOrder.split(',');
                state.allRows.sort(function(r1,r2){
                    var r = 0;
                    for(var i=0; i<names.length; i++){
                        var sn = names[i];
                        var so = orders[i];
                        var col = $(target).datagrid('getColumnOption', sn);
                        var sortFunc = col.sorter || function(a,b){
                            return a==b ? 0 : (a>b?1:-1);
                        };
                        r = sortFunc(r1[sn], r2[sn]) * (so=='asc'?1:-1);
                        if (r != 0){
                            return r;
                        }
                    }
                    return r;
                });
            }
            var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
            var end = start + parseInt(opts.pageSize);
            data.rows = state.allRows.slice(start, end);
            return data;
        }

        var loadDataMethod = $.fn.datagrid.methods.loadData;
        var deleteRowMethod = $.fn.datagrid.methods.deleteRow;
        $.extend($.fn.datagrid.methods, {
            clientPaging: function(jq){
                return jq.each(function(){
                    var dg = $(this);
                    var state = dg.data('datagrid');
                    var opts = state.options;
                    opts.loadFilter = pagerFilter;
                    var onBeforeLoad = opts.onBeforeLoad;
                    opts.onBeforeLoad = function(param){
                        state.allRows = null;
                        return onBeforeLoad.call(this, param);
                    }
                    var pager = dg.datagrid('getPager');
                    pager.pagination({
                        onSelectPage:function(pageNum, pageSize){
                            opts.pageNumber = pageNum;
                            opts.pageSize = pageSize;
                            pager.pagination('refresh',{
                                pageNumber:pageNum,
                                pageSize:pageSize
                            });
                            dg.datagrid('loadData',state.allRows);
                        }
                    });
                    $(this).datagrid('loadData', state.data);
                    if (opts.url){
                        $(this).datagrid('reload');
                    }
                });
            },
            loadData: function(jq, data){
                jq.each(function(){
                    $(this).data('datagrid').allRows = null;
                });
                return loadDataMethod.call($.fn.datagrid.methods, jq, data);
            },
            deleteRow: function(jq, index){
                return jq.each(function(){
                    var row = $(this).datagrid('getRows')[index];
                    deleteRowMethod.call($.fn.datagrid.methods, $(this), index);
                    var state = $(this).data('datagrid');
                    if (state.options.loadFilter == pagerFilter){
                        for(var i=0; i<state.allRows.length; i++){
                            if (state.allRows[i] == row){
                                state.allRows.splice(i,1);
                                break;
                            }
                        }
                        $(this).datagrid('loadData', state.allRows);
                    }
                });
            },
            getAllRows: function(jq){
                return jq.data('datagrid').allRows;
            }
        })
    })(jQuery);

    $(function(){
        $('#dg_present').datagrid({url:'/bePresentedUser/list'}).datagrid('clientPaging');
        $('#presented_search_btn').click(function() {
            $('#dg_present').datagrid('load', $('#presented_form').toJsonNotEmpty());
        });
    });

    function optFormatter(value,row,index){
        var str = '';
        if(row.status == 0){
            str += ' <a title="编辑" onclick="editUser('+ value +','+1+',\'确定封号吗?\')">编辑</a>&nbsp;&nbsp<a title="删除" onclick="editUser(\'+ value +\',\'+0+\',\\\'确定删除吗?\\\')">删除</a>';
        }
        return str;
    }

    function editUser(id,status,str){
        $.messager.confirm('提示信息', str, function(r){
            if (r){
                $.post("/updateUser?userId="+id+"&status="+status, function(data) {
                    if (data.result == 'success') {
                        $.messager.alert("提示信息",data.msg);
                        $('#dg_present').datagrid('reload');
                    } else {
                        $.messager.alert("提示信息",data.msg);
                        $('#dg_present').datagrid('reload');
                    }
                }, "JSON");
            }
        });

    }

    function clearForm(){
        $('#presented_form').form('clear');
        $("#channelId_pres").combobox('setText', '全部');
    }

    $.fn.toJsonNotEmpty = function() {
        var arrayValue = $(this).serializeArray();
        var json = {};
        $.each(arrayValue, function() {
            var item = this;
            if(item["value"] && item["value"].trim()!=""){
                if (json[item["name"]]) {
                    json[item["name"]] += "," + item["value"];
                } else {
                    json[item["name"]] = item["value"];
                }
            }
        });
        return json;
    };

</script>
</body>
</html>
