<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 注解包扫描位置: 因为这里的实现类使用注解的方式 -->
	<context:component-scan base-package="com.zhishun.zaotoutiao.*" />

	<!-- 引入项目配置文件 -->
	<context:property-placeholder location="classpath:config/dubbo.properties" ignore-unresolvable="true" order="2"/>

	<!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 -->
	<dubbo:application name="${dubbo.zaotoutiao.provider.application.name}"/>

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry check="${dubbo.reference.check}" address="${dubbo.zaotoutiao.provider.registry.address}"/>

	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="${dubbo.zaotoutiao.provider.protocol.port}" />

	<!-- 需要暴漏的服务接口 -->
	<dubbo:service interface="com.zhishun.zaotoutiao.core.service.user.UserBizService" ref="userBizServiceImpl" />
</beans> 